@use '../../sass_variables/variables';

.about-inner-container {
    width: 100%;
    height: calc(100vh - variables.$navbarHeight);
    display: flex;
    align-items: center;
    justify-content: center;
}