@use '../../sass_variables/variables';

.navbar-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: variables.$navbarHeight;
    border-bottom: solid black 2px;
}

.rib-navbar-logo {
    margin-left: 3rem;
    max-height: 60px;
    aspect-ratio: 1 / 1;
}

.navbar-container > * {
    flex: 1
}

.navbar-right__links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    margin-right: 4rem;
}

.navbar-right__links a {
    color: black;
    padding: 1rem 0;
    // font-family: mainFont;
    font-weight: 800;
}

.navbar-right__links a:hover {
    border-bottom: solid black 2px;
}