@use '../../sass_variables/variables';

.navbar {
    &-container {
        > * {
            flex: 1;
        }

        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: variables.$navbarHeight;
        border-bottom: solid black 2px;
    
        &-inner-left {
            display: flex;
            gap: 1rem;
        }
        &-inner-right {
            height: 100%;

            &__links {
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 2rem;
                margin-right: 4rem;
                a {
                    color: black;
                    padding: 1rem 0;
                    // font-family: mainFont;
                    font-weight: 800;
                    &:hover {
                        border-bottom: solid black 2px;
                    }
                }
            }
        }
    }
    &-rib-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        border-left: solid black 1px;
    }
    &-rib-logo {
        margin-left: 3rem;
        max-height: 80px;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        &:hover {
            animation-name: my-animation;
            animation-duration: 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

  
@keyframes my-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 485px) {
    .releases-container {
        .navbar-container-inner-right {
            display: none;
        }
    }
}

@media screen and (max-width: 485px){
    .navbar {
        &-container {
            &-inner-right {
                display: none;
                
            }
            &-inner-left {
                flex: 0;
                
            }
        }
        &-rib-logo {
            margin-left: 0;
        }
    }
    .releases-container {
        .navbar-container-inner-right {
            display: flex;
            margin-top: 3rem;
            &__links {
                margin-right: 0;
            }
        }
    }
    
    .release-comp-details-inner {
        flex-direction: column;
    }

}

@media screen and (max-width: 680px){
    .release-comp-summary {
        .release-format {
            display: none;
        }
        .release-year {
            display: none;
        }
    }
}

@media screen and (max-width: 485px){
    .release-comp-summary {
        .release-release-id {
            display: none;
        }
    }
}
