@use '../../sass_variables/variables';

.navbar-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: variables.$navbarHeight;
    border-bottom: solid black 2px;
}

.navbar-left-container {
    display: flex;
    gap: 1rem;
}

.rib-navbar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-left: solid black 1px;
}

.rib-navbar-logo {
    margin-left: 3rem;
    max-height: 60px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.rib-navbar-logo:hover {
    /* animation properties */
    animation-name: my-animation;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}
  
@keyframes my-animation {
from {
    transform: scale(1);
}
to {
    transform: scale(1.1);
}
}

.navbar-container > * {
    flex: 1
}

.navbar-right-container {
    height: 100%;
}

.navbar-right__links {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-right: 4rem;
}

.navbar-right__links a {
    color: black;
    padding: 1rem 0;
    // font-family: mainFont;
    font-weight: 800;
}

.navbar-right__links a:hover {
    border-bottom: solid black 2px;
}

@media screen and (min-width: 485px) {
    .releases-container {
        .navbar-right-container {
            display: none;
        }
    }
}

@media screen and (max-width: 485px){
    .navbar-container {
        .navbar-right-container {
            display: none;
            
        }
    }
    .releases-container {
        .navbar-right-container {
            display: flex;
            margin-top: 3rem;
            .navbar-right__links {
                margin-right: 0;
            }
        }
    }
    .navbar-left-container {
        flex: 0;
        .rib-navbar-logo {
            margin-left: 0;
        }
    }
    
    .release-comp-details-inner {
        flex-direction: column;
    }

}

@media screen and (max-width: 680px){
    .release-comp-summary {
        .release-format {
            display: none;
        }
        .release-year {
            display: none;
        }
    }
}

@media screen and (max-width: 485px){
    .release-comp-summary {
        .release-release-id {
            display: none;
        }
    }
}
