.release-comp-summary {
    width: 100%;
    height: 65px;
    border-bottom: solid black 2px;
    font-family: mainFont;
    font-weight: 100;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
}

.release-title {
    flex: 1;
}

.release-artist-name {
    margin-left: 3rem;
}

.release-year {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.release-comp-details-inner {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.release-comp-details {
    min-width: 1200px;
    width: 100%
}

.release-comp-details-inner > * {
    flex: 1;
}

.release-comp-tracklist-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.release-tracklist-list__element {
    font-family: mainFont;
    line-height: 2rem;
}

.release-artwork__img {
    width: 300px;
    aspect-ratio: 105 / 101.5;
}

.release-comp-details[open] {
    border-bottom: solid black 2px;
    .release-comp-summary {
        background: black;
        color: #f0fff8; /* almost white */
        // text-shadow:0 0 10px #00ff66, 0 0 20px #00ff66,
    }
}