.btn {
  padding: 0.5rem 1rem;
  border: solid 1px;
}

.dark-btn {
  border-color: #000000;
  background-color: transparent;
  color: #000000;
}
.dark-btn:hover {
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

.light-btn {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}
.light-btn:hover {
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
}

.release-comp-summary {
  width: 100%;
  border-bottom: solid black 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 2rem;
}

.release-comp-summary > * {
  min-height: 65px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.release-title {
  flex: 1;
  font-size: 0.9rem;
}

.release-release-id {
  font-weight: 800;
  flex: 0.5;
}

.release-artist-name {
  font-weight: 800;
}

.release-year {
  display: flex;
  justify-content: flex-end;
}

.release-comp-details-inner {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.release-comp-details {
  width: 100%;
}

.release-comp-details-inner > * {
  flex: 1;
}

.release-comp-tracklist-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.release-comp-tracklist-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.release-buy-btn {
  margin-top: 1rem;
  transition: 500ms;
}

.release-tracklist-list__element {
  line-height: 2rem;
}

.release-artwork__img {
  width: 300px;
  aspect-ratio: 105/101.5;
}

.release-comp-details:not([open]) .release-comp-summary:hover {
  background-color: rgba(0, 0, 0, 0.083) !important;
}
.release-comp-details:not([open]):focus-visible {
  border-bottom: none;
}
.release-comp-details:not([open]):focus-visible .release-comp-summary {
  border-top: solid 2px blue;
  border-bottom: solid 2px blue;
}
.release-comp-details:not([open]):focus-visible .release-comp-summary > * {
  color: blue !important;
}
.release-comp-details:not([open]) .release-comp-summary:focus-visible {
  border-top: solid 2px blue;
  border-bottom: solid 2px blue;
}
.release-comp-details:not([open]) .release-comp-summary:focus-visible > * {
  color: blue !important;
}

.release-comp-details[open] {
  border-bottom: solid black 2px;
}
.release-comp-details[open]:focus-visible {
  border-bottom: none;
}
.release-comp-details[open]:focus-visible .release-comp-summary, .release-comp-details[open]:focus-visible .release-comp-summary:focus-visible {
  border-top: solid 2px blue;
  border-bottom: solid 2px blue;
}
.release-comp-details[open]:focus-visible .release-comp-summary > *, .release-comp-details[open]:focus-visible .release-comp-summary:focus-visible > * {
  color: blue;
}
.release-comp-details[open] .dark-summary {
  color: white;
}

.dark-bg {
  color: white;
}

@media screen and (min-width: 1040px) {
  .mobile-release-comp-container {
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  .release-comp-artwork-container {
    display: flex;
    justify-content: center;
  }
  .bandcamp-player-container {
    display: none;
  }
  .release-comp-details-inner .release-comp-tracklist-container {
    display: none;
  }
  .mobile-release-comp-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .mobile-release-comp-container .release-comp-tracklist-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-release-comp-container .bandcamp-player-container {
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=ReleaseComp.css.map */